<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYKHACHSAN.Properties.Settings.QUANLYKHACHSANKIMANHConnectionString"
            connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=QUANLYKHACHSANKIMANH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUANLYKHACHSAN.Properties.Settings.QuanLyKhachSan_UpdateConnectionString"
            connectionString="Data Source=DESKTOP-8M2NJ75\SQLEXPRESS;Initial Catalog=QuanLyKhachSan_Update;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>